@using System.Security.Claims
@{
    var email = User.FindFirst(ClaimTypes.Email)?.Value
                     ?? User.FindFirst("preferred_username")?.Value
                     ?? User.FindFirst("upn")?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSupport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebSupport.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <style type="text/css">
        #busyindicator {
            position: absolute;
            top: 0;
            left: 0;
            /* transform: translate(-50%, -50%); */
            width: 100vw;
            height: 100vh;
            opacity: 0.5;
            z-index: 9999;
            padding-left: calc(50% - 250px);
            padding-top: 250px;
            background: white;
            user-select: none; /* Ngăn chọn văn bản */
            -webkit-user-select: none; /* Safari/Chrome */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE/Edge */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" style="width: 184px; height: 32px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <input type="hidden" value='@ViewContext.RouteData.Values["controller"]' />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Theo dõi</span></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "NewTicket" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewTicket"><span>Đề nghị</span></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="List"><span>Danh sách</span></a>
                        </li>
                    </ul>
                </div>
                <div>
                    @Html.Raw(email)
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <a asp-controller="Account" asp-action="SignOut">Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="SignIn">Login with Microsoft</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    @* <nav class="sidebar">
        <h4 class="text-white text-center">Menu</h4>
        <a href="#dashboard">Dashboard</a>
        <a href="#issues">Yêu cầu lỗi</a>
        <a href="#users">Quản lý người dùng</a>
        <a href="#reports">Báo cáo</a>
        <a href="#settings">Cài đặt</a>
    </nav> *@
    <div class="container conent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="busyindicator" style="display: none;">
        <img src="~/img/busy.gif" />
    </div>
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebSupport - <a asp-area="" asp-controller="Home" asp-action="NewTicket">NewTicket</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
