@using System.Security.Claims
@{
    var email = User.FindFirst(ClaimTypes.Email)?.Value
                     ?? User.FindFirst("preferred_username")?.Value
                     ?? User.FindFirst("upn")?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSupport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebSupport.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
    <style type="text/css">
        #busyindicator {
            position: absolute;
            top: 0;
            left: 0;
            /* transform: translate(-50%, -50%); */
            width: 100vw;
            height: 100vh;
            opacity: 0.5;
            z-index: 9999;
            padding-left: calc(50% - 250px);
            padding-top: 250px;
            background: white;
            user-select: none; /* Ngăn chọn văn bản */
            -webkit-user-select: none; /* Safari/Chrome */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE/Edge */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #339AF0 !important; padding-top: 0; padding-bottom: 0; height: 50px; padding-left: 0; box-shadow: none; padding-bottom: 0; margin-bottom: 0 !important;">
            <div class="container-fluid" style="margin-left: 0 !important; padding-left: 0 !important; border-bottom: 1px solid #ccc; text-align: left;">
                <div style="display: flex; align-items: center; height: 50px;">
                    <div style="background-color: #fff; display: inline-block; height: 100%; width: 222px; border-right: 1px solid #ccc; float: left;">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" style="width: 184px; height: 32px; height: 50px; margin-left: 0;" /></a>
                    </div>
                    <span id="menuicon" style="padding-left: 20px; cursor: pointer;"><i class="fa-solid fa-bars"></i></span>
                </div>
                <span style="padding-left: 1cm; font-weight: bold; text-transform: uppercase;">
                    @ViewData["Title"]
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <input type="hidden" value='@ViewContext.RouteData.Values["controller"]' />
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Theo dõi</span></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "NewTicket" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewTicket"><span>Đề nghị</span></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "List" ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="List"><span>Danh sách</span></a>
                        </li>
                    </ul>
                </div>
                <div>
                    @Html.Raw(email)
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <a asp-controller="Account" asp-action="SignOut">Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="SignIn">Login with Microsoft</a>
                    }
                </div> *@
            </div>
        </nav>
    </header>
    <!-- MAIN BODY WITH SIDEBAR AND CONTENT -->
    <div class="d-flex">
        <!-- đẩy nội dung xuống dưới header -->
        <div style="width: 1px; min-height: calc(100vh - 50px); border: 1px solid #ccc; border-top: 0; border-bottom: 0;"></div>
        <!-- SIDEBAR -->
        <aside id="sidebar" style="width: 220px; min-height: calc(100vh - 50px); border: 1px solid #ccc; border-top: 0; border-bottom: 0; border-left: 0;">
            <ul class="nav flex-column">
                @* <li><a href="#" class="nav-link">Dashboard</a></li> *@
                <li><a class="nav-link" asp-controller="Home" asp-action="Index">Danh sách yêu cầu</a></li>
                <li><a class="nav-link" asp-controller="Home" asp-action="NewTicket">Tạo mới yêu cầu</a></li>
                <li><a class="nav-link" asp-controller="Home" asp-action="List">Theo dõi yêu cầu</a></li>
                <li><a class="nav-link" asp-controller="Home" asp-action="History">Lịch sử yêu cầu</a></li>
            </ul>
        </aside>
        <!-- MAIN + BOTTOM PANEL -->
        <div class="d-flex flex-column flex-grow-1">
            <!-- MAIN CONTENT -->
            <main class="flex-grow-1" style="background-color: #F5F6FA; padding: 4px;">
                @RenderBody()
            </main>
            <!-- BOTTOM PANEL -->
            <div style="height: 50px; background-color: #0B5ED7; color: white; text-align: center; line-height: 50px; text-align: right; padding-right: 10px;">
                <span style="padding-right: 30px; cursor: pointer;">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <a asp-controller="Account" asp-action="SignOut" style="color: white; text-decoration: none;">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="SignIn">Login with Microsoft</a>
                    }
                </span>
                @Html.Raw(email)
            </div>
        </div>
    </div>
    <div id="busyindicator" style="display: none;">
        <img src="~/img/busy.gif" />
    </div>
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebSupport - <a asp-area="" asp-controller="Home" asp-action="NewTicket">NewTicket</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('#menuicon').on('click', function () {
                if ($('#sidebar').is(':visible')) {
                    $('#sidebar').hide();
                }
                else {
                    $('#sidebar').show();
                }
            });
        });
    </script>
</body>
</html>
