@using System.Security.Claims
@{
    var emp_id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value
        ?? User.FindFirst("preferred_username")?.Value
        ?? User.FindFirst("upn")?.Value;
    var currentPath = ViewContext.RouteData.Values["action"]?.ToString()?.ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSupport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Icons -->
    <link href="~/css-bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/font-awesome-all.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
    <style type="text/css">
        #busyindicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0.5;
            z-index: 9999;
            padding-left: calc(50% - 250px);
            padding-top: 250px;
            background: white;
            user-select: none; /* Ngăn chọn văn bản */
            -webkit-user-select: none; /* Safari/Chrome */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE/Edge */
        }
    </style>
</head>

<body>
    <!-- Content -->
    <div class="wrapper d-flex">
        <!-- Sidebar -->
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 sidebar-visible">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="~/img/logo.svg" width="200" height="35" />
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller="Home" asp-action="Dashboard" class="nav-link @(currentPath == "dashboard" ? "active" : "link-dark")">
                            <i class="bi bi-bar-chart-line-fill"></i>
                            Dashboard
                        </a>
                    </li>
                }
                <li>
                    <a asp-controller="Home" asp-action="Index" class="nav-link @(currentPath == "index" ? "active" : "link-dark")">
                        <i class="bi bi-card-list"></i>
                        Danh sách yêu cầu
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="NewTicket" class="nav-link @(currentPath == "newticket" ? "active" : "link-dark")">
                        <i class="bi bi-file-earmark-plus"></i>
                        Tạo yêu cầu mới
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller="Home" asp-action="List" class="nav-link @(currentPath == "list" ? "active" : "link-dark")">
                            <i class="bi bi-eye-fill"></i>
                            Theo dõi yêu cầu
                        </a>
                    </li>
                }
                <li>
                    <a asp-controller="Home" asp-action="History" class="nav-link @(currentPath == "history" ? "active" : "link-dark")">
                        <i class="bi bi-clock-history"></i>
                        Lịch sử yêu cầu
                    </a>
                </li>
            </ul>
            <hr />
            <div class="lbversion"><span>Phiên bản: 1.0.0.3</span></div>
        </div>

        <div class="main flex-grow-1 d-flex flex-column">
            <!-- Header -->
            <div class="header d-flex align-items-center justify-content-between">
                <button id="toggleSidebar" class="btn btn-light me-3">
                    <i class="bi bi-list"></i>
                </button>
                <h2 class="m-0">@ViewData["Title"]?.ToString()?.ToUpper()</h2>
            </div>

            <!-- Content -->
            <div class="content flex-grow-1">
                @RenderBody()
            </div>

            <!-- Footer -->
            <div class="footer d-flex justify-content-end align-items-center">
                <div id="username">[@Html.Raw(emp_id)] @User.FindFirst(ClaimTypes.GivenName)?.Value</div>
                <div id="logout_btn" class="ms-3 fw-bold" data-bs-toggle="tooltip" title="Đăng xuất">
                    <i class="bi bi-box-arrow-left fs-5"></i>
                </div>
            </div>


        </div>
    </div>

    <div id="busyindicator" style="display: none;">
        <img src="~/img/busy.gif" />
    </div>

    @* Log out *@
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Xác nhận đăng xuất</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn đăng xuất không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-danger">Đăng xuất</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* Log out *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function() {
            var isMobile = /Android|iPad|iPhone|iPod|Mobile/i.test(navigator.userAgent);
            if (isMobile) {
                $('#toggleSidebar').trigger('click');
            }
        });
    </script>
</body>
</html>
