@using System.Security.Claims
@{
    ViewData["Title"] = "Chi tiết yêu cầu";
    var email = User.FindFirst(ClaimTypes.Email)?.Value
        ?? User.FindFirst("preferred_username")?.Value
        ?? User.FindFirst("upn")?.Value;
}
@* @Html.Partial("_NewTicket") *@
<h3>YÊU CẦU</h3>
<partial name="_NewTicket" />
@section Scripts {
    <script src="~/js/fileinput.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#btnconfirm').click(function () {
                if ($('#txtdescription').val() == '') {
                    $('#txtdescription').focus();
                    return;
                }

                var uploadCompleted = false;
                var files;
                if (formDataFileLength() > 0) {
                    $.ajax({
                        url: '@WebSupport.Utilities.Globals.APIUrl/Upload/Upload', // replace with your actual API endpoint
                        type: 'POST',
                        headers: {
                            'X-API-KEY': '@WebSupport.Utilities.Globals.APIKey'
                        },
                        data: formData,
                        contentType: false,
                        processData: false,
                        async: false,
                        success: function (res) {
                            uploadCompleted = true;
                            files = res.data;
                        },
                        error: function (err) {
                            console.error("Upload failed", err);
                        }
                    });
                } else {
                    uploadCompleted = true;
                }

                if (uploadCompleted == false) return;

                var bodydata = {
                    email: '@email',
                    description: $('#txtdescription').val(),
                    files: files
                };
                $.ajax({
                    url: '@WebSupport.Utilities.Globals.APIUrl/Tickets/Create',
                    type: 'POST',
                    headers: {
                        'X-API-KEY': '@WebSupport.Utilities.Globals.APIKey'
                    },
                    contentType: 'application/json',
                    data: JSON.stringify(bodydata),
                    success: function(response) {
                        if (response.errorCode != 0)
                        {
                            alert(response.message);
                            return;
                        }
                        debugger;
                        window.location.href = '/Home/Index';
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
            initFileInput();
        });
    </script>
}